h1 {
  color: rgba(251, 247, 240, 1);
  text-align: center;
  background-color: brown;
  padding: 1em;
}

h3,
p {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: italic;
}

ul {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  list-style-image: url(../img/kniv.png);
}

.border {
  border: solid;
  border-color: brown;
  padding: 1em;
  margin: 1em;
}

footer {
  background-color: white;
  padding: 1em;
  padding-bottom: 0%;
}

script {
  width: 35%;
  height: auto;
  margin: 10px;
  padding: 10px;
}

@media (min-width: 600px) {
  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
  }
}
