h1 {
  text-align: center;
}

img {
  max-width: 100%;
}

p {
  text-align: center;
  font-style: italic;
}

.border {
  border: solid;
  border-color: brown;
  padding: 0.2em;
  margin: 1em;
}

form {
  text-align: center;
  margin: 10px;
  gap: 1em;
}
