h1 {
  color: rgba(251, 247, 240, 1);
  text-align: center;
  background-color: rgba(171, 37, 37, 1);
  padding: 1em;
}

h2,
p {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: italic;
}

.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.border {
  border: solid;
  border-color: brown;
  padding: 1em;
  margin: 1em;
}

.grid_1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
}

footer {
  background-color: white;
  padding: 1em;
  padding-bottom: 0%;
}
